{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Orders</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/customer_order.css' %}">
  <link rel="stylesheet" href="{% static 'css/notification.css' %}" />
  <link rel="stylesheet" href="{% static 'css/change_password.css' %}" />
  <script src = "{% static 'js/change_password.js' %}"></script>
  <script src = "{% static 'js/notify.js' %}"></script>
</head>
<body>
  <!-- Navbar -->
  <div class="navbar">
    <nav class="nav stroke">
      <a href="{% url 'customer_orders' %}">Home</a>
      {% comment %} <div class="logo"> {{ username }}</div> {% endcomment %}
    </nav>
    <div class="menu">
      <!--Notification bell -->
      <div class="notification-wrapper">
        <button id="notification-button">
          <i class="fa-solid fa-bell notification-bell-icon"></i>
          {% if notifications_unread %}
          <span class="notification-dot"></span>
          {% endif %}
        </button>
        <div id="notification-dropdown" class="notification-dropdown">
          <div class="dropdown-header">
            <span class="dropdown-title">Notifications</span>
            <form method="POST" action="{% url 'mark_all_notifications_read_customer' %}">
              {% csrf_token %}
              <button type="submit" class="mark-read-btn" title="Mark all as read">
                ✓
              </button>
            </form>
          </div>
          <div class="dropdown-content-scroll">
          {% if  notifications %}
            <ul>
              {% for note in notifications %}
              {% if note.is_read %}
                <li><p>{{ note.message }}</p></li>
              {% else %}
                <li><strong>{{ note.message }}</strong></li>
              {% endif %}
              {% endfor %}
            </ul>
          {% else %}
            <p style="margin: 5px;">No new notifications.</p>
          {% endif %}
          </div>
        </div>
      </div>

      {% comment %} <a href="#">Profile</a> {% endcomment %}
      <a href="#" onclick="openChangePasswordModal()">Change Password</a>
      <a href="{% url 'logout' %}">Logout</a>
    </div>
  </div>

  {% if messages %}
  <div class="message-box">
    {% for message in messages %}
      <p style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %};">{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %}

  <!-- Modal container -->
  <div id="changePasswordModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeChangePasswordModal()">&times;</span>
      <h2>Change Password</h2>
      <br>
      <form method="POST" action="{% url 'change_password_customer' %}">
        {% csrf_token %}
        <label>Old Password:</label><br>
        <input type="password" name="old_password" required><br>

        <label>New Password:</label><br>
        <input type="password" name="new_password" required><br>

        <label>Confirm New Password:</label><br>
        <input type="password" name="confirm_password" required><br><br>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  
  <!-- Search Container (Below Navbar) -->
  <div class="search-container">
    <h2>Track Your Order!!</h2>
    <form method="GET" action="{% url 'customer_orders' %}">
      <div class="search-box">
        <input type="text" name="tracking_number" placeholder="Enter Tracking ID" required />
        <button type="submit">Track</button>
      </div>
    </form>

    <div>
      {% if error_message %}
      <p style="color: red;">{{ error_message }}</p>
      {% endif %}
    </div>
  </div>

  <div class="filter-container">
    <form method="GET" action="{% url 'customer_orders' %}">
      <label for="status">Filter by Status:</label>
      <select id="status" name="status" onchange="this.form.submit()">
        <option value="all" {% if request.GET.status == "all" or not request.GET.status %}selected{% endif %}>--ALL--</option>
        <option value="Pending" {% if request.GET.status == "Pending" %}selected{% endif %}>Pending</option>
        <option value="Arriving" {% if request.GET.status == "Arriving" %}selected{% endif %}>Arriving</option>
        <option value="Out for delivery" {% if request.GET.status == "Out for delivery" %}selected{% endif %}>Out for Delivery</option>
        <option value="Delivered" {% if request.GET.status == "Delivered" %}selected{% endif %}>Delivered</option>
        <option value="Cancelled" {% if request.GET.status == "Cancelled" %}selected{% endif %}>Cancelled</option>
      </select>
    </form>
  </div>


  
  <!-- Shipments Table -->
  <main class="table" id="orders_table">
    <section class="table__header">
      <h1>Orders</h1>
    </section>
    <section class="table__body">
      <table>
        <thead>
          <tr>
            <th>S.No</th>
            <th>Tracking ID</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Track</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ order.tracking_number }}</td>
            <td>{{ order.product_name }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.amount }}</td>
            <td>{{ order.status }}</td>
            <td>
              <form action="{% url 'tracking_page' order.tracking_number order.detail_id %}" method="GET">
                <button type="submit" class="track-btn">Track</button>
              </form>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="7">No orders found.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </main>
  
  
</body>
</html>
