{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer_tracking.css' %}" />
    <link rel="stylesheet" href="{% static 'css/progress.css' %}" />
    <link rel="stylesheet" href="{% static 'css/order_details.css' %}" />
    <title>Customer</title>
  </head>
  <body>
    <div class="navbar">
      <div class="logo">{{ username }}</div>
      <div class="menu">
        <a href="#">Profile</a>
        <a href="#">Change Password</a>
        <a href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
    {% if messages %}
    <div class="message-box">
      {% for message in messages %}
      <p style="color: red;">{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}
    
    {% comment %} <h1>Tracking_number {{ tracking_number }}</h1>
    {% for row in tracking_details %}
      <p>
        From warehouse {{ row.currently_in }} ->{% if row.move_to %}
          To Warehouse {{ row.move_to }} on {{ row.date }}
        {% else %}
          Out for Delivery on {{ row.date }}
        {% endif %}
      </p>
    {% endfor %}
    <br />
    <p>{{product_details.shipping_status}}</p> {% endcomment %}

    <div class= "details-wrapper">

      {% comment %} Order Details {% endcomment %}
      <div class="order-details-card">
        <h2>Order Details</h2>
      
        <div class="shipping-status">
          <span class="label">Shipping Status:</span>
          <span class="status">{{product_details.shipping_status}}</span>
        </div>
      
        <div class="order-info">
          <p><strong>Tracking Number:</strong> {{tracking_number}}</p>
          <p><strong>Product:</strong> <span class="product-name">{{product_details.product_name}} </span> - <span class="product-description">{{product_details.product_description}} </span></p>
          <p><strong>Order Date:</strong> {{product_details.order_date}}</p>
          <p><strong>Supplier:</strong> {{product_details.supplier_name}} — <span class="supplier-location"> {{product_details.supplier_address}}</span></p>
          <p class="price"><strong>Price: </strong>{{product_details.price}}</p>
          <p><strong>Shipping Address:</strong> {{product_details.shipping_address}}</p>
        </div>
      </div>

      {% comment %}Timeline{% endcomment %}
      <div class="timeline-wrapper">
        <div class="timeline-container" style="--progress-height:{{progress_height}}px;">
          <div class="timeline-item">
            <div class="timeline-content">
              <h4>Ordered</h4>
              <p class="timestamp">{{ product_details.order_date }}</p>
            </div>
          </div>

          {% for step in tracking_details %}
            <div class="timeline-item {% if forloop.last and fill_circle %}complete{% endif %}">
              <div class="timeline-content">
                <h4>Shipped</h4>
                <p>
                  <strong><i>Location:</i></strong> Warehouse {{ step.currently_in }}
                </p>
                <p class="timestamp">{{ step.date }}</p>
              </div>
            </div>
          {% endfor %}

          {% if product_details.shipping_status == 'delivered' %}
          <div class="timeline-item delivered">
            <div class="timeline-content">
              <h4>Delivered</h4>
              <p class="timestamp">{{ product_details.expected_delivery }}</p>
            </div>
          </div>
          {% else %}
          <div class="timeline-item expected">
            <div class="timeline-content">
              <h4>Expected Delivery</h4>
              <p class="timestamp">{{ product_details.expected_delivery }}</p>
            </div>
          </div>
          {% endif %}
        </div>
      </div>

    </div>
    

  </body>
</html>
