{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer_tracking.css' %}" />
    <link rel="stylesheet" href="{% static 'css/progress.css' %}" />
    <link rel="stylesheet" href="{% static 'css/order_details.css' %}" />
    <link rel="stylesheet" href="{% static 'css/notification.css' %}" />
    <link rel="stylesheet" href="{% static 'css/change_password.css' %}" />
    <script src = "{% static 'js/change_password.js' %}"></script>
    <script src = "{% static 'js/notify.js' %}"></script>
    <title>Customer</title>
  </head>
  <body>
    <div class="navbar">
      <nav class="nav stroke">
        <a href="{% url 'customer_orders' %}">Home</a>
        {% comment %} <div class="logo"> {{ username }}</div> {% endcomment %}
      </nav>
      <div class="menu">
      <!--Notification bell -->
      <div class="notification-wrapper">
        <button id="notification-button">
          <i class="fa-solid fa-bell notification-bell-icon"></i>
          {% if notifications_unread %}
          <span class="notification-dot"></span>
          {% endif %}
        </button>
        <div id="notification-dropdown" class="notification-dropdown">
          <div class="dropdown-header">
            <span class="dropdown-title">Notifications</span>
            <form method="POST" action="{% url 'mark_all_notifications_read_customer' %}">
              {% csrf_token %}
              <button type="submit" class="mark-read-btn" title="Mark all as read">
                ✓
              </button>
            </form>
          </div>
          <div class="dropdown-content-scroll">
          {% if  notifications %}
            <ul>
              {% for note in notifications %}
              {% if note.is_read %}
                <li><p>{{ note.message }}</p></li>
              {% else %}
                <li><strong>{{ note.message }}</strong></li>
              {% endif %}
              {% endfor %}
            </ul>
          {% else %}
            <p style="margin: 5px;">No new notifications.</p>
          {% endif %}
          </div>
        </div>
      </div>
        <a href="#">Profile</a>
        <a href="#" onclick="openChangePasswordModal()">Change Password</a>
        <a href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
    {% if messages %}
    <div class="message-box">
      {% for message in messages %}
      <p style="color: red;">{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}
    
    {% comment %} <h1>Tracking_number {{ tracking_number }}</h1>
    {% for row in tracking_details %}
      <p>
        From warehouse {{ row.currently_in }} ->{% if row.move_to %}
          To Warehouse {{ row.move_to }} on {{ row.date }}
        {% else %}
          Out for Delivery on {{ row.date }}
        {% endif %}
      </p>
    {% endfor %}
    <br />
    <p>{{product_details.shipping_status}}</p> {% endcomment %}

    <!-- Modal container -->
    <div id="changePasswordModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeChangePasswordModal()">&times;</span>
        <h2>Change Password</h2>
        <br>
        <form method="POST" action="{% url 'change_password_customer' %}">
          {% csrf_token %}
          <label>Old Password:</label><br>
          <input type="password" name="old_password" required><br>

          <label>New Password:</label><br>
          <input type="password" name="new_password" required><br>

          <label>Confirm New Password:</label><br>
          <input type="password" name="confirm_password" required><br><br>

          <button type="submit">Submit</button>
        </form>
      </div>
    </div>

    <div class= "details-wrapper">

      {% comment %} Order Details {% endcomment %}
      <div class="order-details-card">
        <h2>Order Details</h2>
      
        <div class="shipping-status">
          <span class="label">Shipping Status:</span>
          <span class="status">{{product_details.shipping_status}}</span>
        </div>
      
        <div class="order-info">
          <p><strong>Tracking Number:</strong> {{tracking_number}}</p>
          <p><strong>Product:</strong> <span class="product-name">{{product_details.product_name}} </span> - <span class="product-description">{{product_details.product_description}} </span></p>
          <p><strong>Order Date:</strong> {{product_details.order_date}}</p>
          <p><strong>Supplier:</strong> {{product_details.supplier_name}} — <span class="supplier-location"> {{product_details.supplier_address}}</span></p>
          <p class="price"><strong>Price: </strong>{{product_details.price}}</p>
          <p><strong>Shipping Address:</strong> {{product_details.shipping_address}}</p>
        </div>
      </div>

      {% comment %}Timeline{% endcomment %}
      <div class="timeline-wrapper">
        <div class="timeline-container" style="--progress-height:{{progress_height}}rem;">
          <div class="timeline-item">
            <div class="timeline-content">
              <h4>Ordered</h4>
              <p class="timestamp">{{ product_details.order_date }}</p>
            </div>
          </div>

          {% for step in tracking_details %}
            <div class="timeline-item {% if forloop.last and fill_circle %}complete{% endif %}">
              <div class="timeline-content">
                <h4>Shipped</h4>
                <p>
                  <strong><i>Location:</i></strong> Warehouse {{ step.currently_in }}
                </p>
                <p class="timestamp">{{ step.date }}</p>
              </div>
            </div>
          {% endfor %}

          {% if product_details.shipping_status == 'Delivered' %}
          <div class="timeline-item delivered">
            <div class="timeline-content">
              <h4>Delivered</h4>
              <p class="timestamp">{{ product_details.expected_delivery }}</p>
            </div>
          </div>
          {% else %}
          <div class="timeline-item expected">
            <div class="timeline-content">
              <h4>Expected Delivery</h4>
              <p class="timestamp">{{ product_details.expected_delivery }}</p>
            </div>
          </div>
          {% endif %}
        </div>
      </div>

    </div>
    

  </body>
</html>
