{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manager</title>
    <link rel="stylesheet" href="{% static 'css/manager_static.css' %}">
  </head>
  <body>
    <!-- Navbar -->
    <div class="navbar">
      <nav class="nav stroke">
        <!-- Note: Added 'stroke' class -->
        <a href="{% url 'manager_home' %}" class="active">Home</a>
        <a href="{% url 'manager_shipments' %}">Shipments</a>
        <a href="{% url 'manager_stocks' %}">Warehouse Stock</a>
        <a href="{% url 'manager_employees' %}">Employees</a>
        <a href="{% url 'manager_procurements' %}"> Order Procurements</a>
      </nav>
      <div class="menu">
        <a href="#">Profile</a>
        <a href="#">Change Password</a>
        <a href="{% url 'logout' %}">Logout</a>
      </div>
    </div>

    <h1>Hi manager {{ username }}</h1>

    {% comment %} Low products alert {% endcomment %}




    {% comment %} Incoming Procurements {% endcomment %}




  </body>
</html>
