
.$SCM ER diagram.drawio.bkp
SCM_webapp/login/__pycache__/views.cpython-312.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
/SCM_webapp/login/__pycache__
*.pyc
SCM_webapp/SCM_webapp/__pycache__/settings.cpython-312.pyc
