.timeline-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    /* width: 100%; */
    min-width: 300px;
    max-width: 500px;
}

.timeline-container {
    position: relative;
    margin: 2rem;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
}

/* The vertical line */
.timeline-container::before {
    content: '';
    position: absolute;
    top: 1.0rem;          /* Line starts just inside the first circle */
    bottom: 4rem;       /* Line ends just inside the last circle */
    left: -3px;           /* Align with center of circle */
    width: 3px;
    background-color: #8a8a8a;
    z-index: 0;
}

/* Progress bar (colored vertical line on top of light line) */
.timeline-container::after {
    content: '';
    position: absolute;
    top: 1.0rem;
    height: var(--progress-height);
    left: -3px;
    width: 3px;
    background-color: #3498db;
    z-index: 1;
}

/* Individual timeline item */
.timeline-item {
    position: relative;
    margin-bottom: 2rem;
}

/* The circle marker */
.timeline-item::before {
    content: '';
    position: absolute;
    left: -22px;  /* Aligns circle with the vertical line */
    top: 1rem;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border: 3px solid #3498db;
    border-radius: 50%;
    z-index: 2;
}

/* Filled marker (current progress) */
.timeline-item.complete::before {
    background-color: #3498db;
}

/* Special styling for expected delivery */
.timeline-item.expected::before {
    border-style: dashed;
    border-color: #2ecc71;
}

.timeline-item.expected h4 {
    color: #2ecc71;
}

/* Special styling for delivered */
.timeline-item.delivered::before {
    border-style: solid;
    border-color: #2ecc71;
    background-color: #2ecc71;
}

.timeline-item.delivered h4 {
    color: #2ecc71;
}

.timeline-content {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.timestamp {
    font-size: 0.85em;
    color: #888;
}






